# Библиотеки и зависимости
node_modules/
vendor/
*.jar
*.pyc

# Бинарные файлы
*.exe
*.dll
*.so
*.a

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp
*.temp

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo
